<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/materialize_social.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>fileshare</title>
</head>

<body>
<nav class="app-color-light">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">fshare</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <form id="logout" action="/logout" method="post">
                    <a onclick="document.getElementById('logout').submit()">Logout</a>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <div class="center-align ">
        {{template "content" .}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>